.background-image {
  position: absolute;
  background-image: url('https://raw.githubusercontent.com/EasyLearning97/restaurant_html_css/master/img/bg-hero.jpg');
  background-position: center;
  width: 100%;
  height: 88%;
}

.color {
  background-color: rgba(21, 41, 68, 0.699);
  height: 88%;
}
